@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter:wght@400;600&family=Karla:wght@700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300&family=Roboto&display=swap");

:root,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

* {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-style: italic;
}

/*  Gradients
background: linear-gradient(45deg, #0f0c29, #302b63, #24243e);
background: linear-gradient(45deg, #c31432, #240b36);
background: linear-gradient(45deg, #cc2b5e, #753a88);
background: linear-gradient(45deg, #333333, #dd1818);
*/

.primary-button {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, #333333, #dd1818);
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    transition: 1s ease;
    width: 200px;
}

.link-button {
    max-width: 135px;
    text-decoration: none;
}

.primary-button:hover {
    background: linear-gradient(260deg, #333333, #dd1818);
    transition: 1s ease;
}

.secondary-button {
    color: rgb(121, 119, 119);
    background-color: white;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 2px rgb(121, 119, 119);
    margin: 6px;
}
