.message {
    display: flex;
    gap: 10px;

    &.owner {
        flex-direction: row-reverse;
    }

    &.owner .sent-message {
        border-radius: 10px 0px 10px 10px;
    }

    &.owner .message-content {
        align-items: flex-end;
    }
}

.message-info {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
    align-items: center;
}

.message-info p {
    margin-top: 2px;
}

.message-content {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.sent-message {
    background-color: white;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
}

.message-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.message-content-img {
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .message {
        gap: 2px;
    }
}

@media screen and (max-width: 430px) {
    .sent-message {
        font-size: 14px;
    }
}
