.match-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.match-modal-img {
    height: 300px;
    width: 90%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.match-modal-chat-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 16px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    background-color: rgb(255, 72, 102);
    color: white;
    transition: 200ms ease;
    margin-top: 10px;
}

.match-modal-chat-btn:hover {
    border: 1px solid rgb(255, 72, 102);
    background-color: white;
    color: rgb(255, 72, 102);
    transition: 200ms ease;
}
