.onboarding-container {
    overflow-x: hidden;
}

.onboarding {
    padding-top: 100px;
}

.onboarding form {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.onboarding form section:nth-child(1) {
    margin-top: 4px;
}

.onboarding label {
    font-weight: 500;
    margin-right: auto;
}

.onboarding input {
    width: 300px;
    height: 40px;
    border: 1px solid rgb(141, 141, 141);
    outline: none;
    border-radius: 8px;
    padding-left: 15px;
}

.onboarding input:focus {
    border: 1px solid rgb(197, 5, 53);
}

.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.input-container input[type='number'] {
    width: 70px;
    text-align: center;
    padding-left: 0px;
    margin-right: auto;
}

.input-container input[type='radio'] {
    display: none;
}

.input-container label {
    padding: 10px;
    margin-right: auto;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    cursor: pointer;
}

.input-container input[type='radio']:nth-child(1) + label {
    margin-right: 15px;
}

.show-me:nth-child(3) + label {
    margin-right: 15px;
}

.input-container input[type='radio']:checked + label {
    border: 1px solid rgb(197, 5, 53);
}

.onboarding input[type='submit'] {
    width: 100%;
    height: 50px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, #333333, #dd1818);
    border: none;
    border-radius: 30px;
    transition: 1s ease;
    margin-bottom: 20px;
    cursor: pointer;
}

.onboarding input[type='submit']:hover {
    background: linear-gradient(260deg, #333333, #dd1818);
    transition: 1s ease;
}

.picture-container {
    display: flex;
    flex-direction: row;
}

.picture-container button {
    border: 1px solid gray;
    margin-right: 10px;
    border-radius: 5px;
}

.img-container {
    width: 320px;
}

.img-container img {
    width: 100%;
    border-radius: 10px;
}

.onboarding input[type='file'] {
    width: 200px;
    border: none;
}

.add-profile-image label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 27.5%;
    margin-bottom: 5px;
    background-color: white;
    color: gray;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid gray;
    transition: 200ms ease;
}

.add-profile-image label:hover {
    border: 1px solid rgb(197, 5, 53);
    color: rgb(197, 5, 53);
    transition: 200ms ease;
}

span {
    margin-right: 7px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px 5px;
    background-color: gainsboro;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 690px) {
    .onboarding input {
        width: 250px;
    }
    .img-container {
        width: 270px;
    }
    .add-profile-image label {
        margin-left: 22.5%;
    }
}

@media screen and (max-width: 620px) {
    .onboarding form {
        gap: 20px;
    }
}

@media screen and (max-width: 570px) {
    .onboarding {
        padding-top: 75px;
    }
    .onboarding form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .add-profile-image label {
        margin-top: 5px;
    }
}

/* @media screen and (max-width: 570px) {

} */
