/* Navbar {
    z-index: 2;
} */

.login-container {
    overflow: hidden;
    height: 100vh;
}

.login {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #ffe4e4, #666666);
}
