.mobile-match-container {
    display: flex;
    justify-content: center;
    height: 100dvh;
}

.mobile-match-section {
    width: 600px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-top: 72px;
}
