.spinner-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.spinner-body h2 {
    text-decoration: underline;
    color: #d0021b;
}

.spinner {
    background-color: white;
}
