.nav {
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 70px;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid rgb(154, 154, 154);
}

.logo-container {
    width: 125px;
    margin: 15px;
    margin-top: 20px;
}

.logo {
    width: 100%;
}

.nav-item-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.logout-btn {
    margin-top: 15px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid rgb(255, 72, 102);
    cursor: pointer;
    color: rgb(255, 72, 102);
    background-color: white;
    transition: 200ms ease;
    font-weight: 500;
}

.logout-btn:hover {
    background-color: rgb(255, 72, 102);
    border: 1px solid white;
    color: white;
    transition: 200ms ease;
}

.nav-back-btn {
    margin-top: 20px;
    cursor: pointer;
    color: rgb(80, 80, 80);
}

@media screen and (max-width: 1024px) {
    .nav {
        height: 60px;
    }
    .logo-container {
        margin-top: 15px;
    }
    .logout-btn {
        margin-top: 12.5px;
        padding: 6px 10px;
    }
    .nav-back-btn {
        margin-top: 15px;
        width: 20px;
    }
}
